:root{
    --blue: #559bfb;
    --indigo: #2c3782;
    --purple: #816bff;
    --pink: #ff63a5;
    --red: #e85347;
    --orange: #ffa353;
    --yellow: #f4bd0e;
    --green: #1ee0ac;
    --teal: #20c997;
    --cyan: #09c2de;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #0971fe;
    --secondary: #364a63;
    --success: #1ee0ac;
    --info: #09c2de;
    --warning: #f4bd0e;
    --danger: #e85347;
    --dark: #1c2b46;
    --gray: #8091a7;
    --light: #e5e9f2;
    --lighter: #f5f6fa;
}
.nk-header-fixed + .nk-content {
    margin-top: 30px!important;
}
.nk-block-head{
    padding-bottom: 5px!important;
}
.form-group.required .form-label:after {
    content:"*";
    color:red;
}
.site-text-color{
    color: #0b3175;
}
.border-color{
    border-color: #0b3175!important;
    border: 1px solid #0b3175;
}
.bg-site{
    background-color: #0b3175;
}
.margin-max-top{
    margin-top: 100px;
}
.margin-max-rbl{
    margin-right: 30px;
}
.padding-max{
    padding: 15px;
}
.line-space{
        line-height: 2.2;
      }
      .v-line {
        border-left: 6px solid green;
        height: 500px;
      }




.navbar-nav li{
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}
.register{
    background-color: var(--indigo);
}
.register a{
    color: var(--white)!important;
}
.navbar-nav li{
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-nav li:hover{
    background-color: var(--indigo);
}
.navbar-light .navbar-nav .nav-link:hover{
    color: var(--white);
}
@media only screen and (min-width: 1200px){
    .nk-sidebar {
        width: 300px!important;
    }
    .nk-wrap{
        padding-left: 300px!important;
    }
    .nk-sidebar .nk-sidebar-head{
        width: 300px!important;
    }
    .nk-sidebar + .nk-wrap > .nk-header-fixed {
        left: 300px;
    }
}